.language {
  color: black !important;
  border: none;
  outline: none;
}

.content-link {
  background-color: #22b3c1;
  color: #fff;
  padding: 12px 30px;
  border-radius: 25px;
  border: 1px solid #22b3c1;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-link svg {
  width: 250px !important;
  object-fit: cover;
}

@media (max-width: 768px) {
  .header-link {
    width: 200px !important;
  }
}
